.btn_new {
    margin-left: auto;
}

.toolbar {
    float: right;
    text-align: right;
    padding-bottom: 15px;
}

/* dataTable */
.dataTables_wrapper .dataTables_filter {
    float: left !important;
    /* padding-bottom: 15px; */
}
.dataTables_filter input {
    border-radius: 15px !important;
    min-width: 400px;
    padding-left: 10px !important;
}

.btn-new {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 15px;
}


.material-icons.md-light { color: #ffffff; }
.material-icons.md-light.md-24 { font-size: 24px; }
.material-icons.md-light.md-18 { font-size: 18px; }

a {
    text-decoration: none;
}

/* FIM DATATABLES*/

/* Form */
.invalid-feedback {
    display: block;
}

/* Fim Form */


/* Form Delete */
.delete {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.form-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 400px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
 
}
.button a{
    margin-left: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}

a.cancela:hover {
    background: rgba(0, 0, 0, 0.08);;
}
/* Fim Form Delete*/


/* VIEW */
.info_view {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.info_view h3, div.view_data {
    margin-left: 30px;
}



/* FIM VIEW */

/* FORM NEW */
.btn-search-pai, .btn-search-mae {
    display: flex;
    margin-top: 30px;
}

.border-field {
    border-width: 1px;
    border: solid #dee2e6;
    border-radius: .375rem;
    padding-bottom: 15px;
}

.tabela b {
    font-size: 10px;
}
.modal-title {
    font-size: 14px;
}
/* fieldset {
    margin-top: 40px !important;

}

fieldset legend {
    font-size: inherit;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    background: #1f4970;
    padding: 5px 10px;
    box-shadow: 0 0 0 5px #ddd;
    height: 43px !important;
    margin-left: 20px;
    margin-top: -37px !important;
} */